* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.jou-section {
    display: flex;           
    justify-content: center; 
    align-items: center;      
    min-height: 100vh;        
    text-align: center; 
    font-size: 30px;    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color :black;
    position: fixed;
    width: 100%;
}

.logo {
    font-family: 'Pacifico', cursive; 
    font-size: 35px;
    color: #ff4d4d;
}

nav ul {
    display: flex;
    list-style: none;
}

 li {
    margin-right: 30px;
}

 li a {
    color: white;
    text-decoration: none;;
    transition: 0.3s;
}

 li a:hover {
    color: #ff4d4d;
}


.all-section {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.all-overlay {

    padding: 40px;
    border-radius: 20px;
}


.menu-container {
    padding: 80px;
}

.section-title {
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
    color: white;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
    gap: 30px;
}

.pizza-card {
    background:#121010;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #e6f72583;
}

.pizza-card:hover {


    border: 3px solid red;
}

.card-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-info {
    padding: 20px;
    text-align: center;
}

.card-info h3 {
    margin-bottom: 10px;
    font-size:20PX;
}

.card-info p {
    color: #bbb;
    font-size: 0.9rem;
    margin-bottom: 15px;
    height: 40px;
}

.price {
    font-size: 20PX;
    font-weight: bold;
    color: #ff4d4d;
    margin-bottom: 15px;
}

.order-B {
    background: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 3px;
    font-weight: bold;
    transition: 0.3s;
}

.order-B:hover {
    background: #cc0000;
}